html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f6f6f6;
}

#my-name {
  margin-top: 15px;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  float: right;
  padding-right: 5px;
  font-size: 3.5em;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

#header-bar {
    height: 100px;
    background-color: #3fa9f5;
}

.img-bg {
  background: url(../../img/classroom.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
}

.img-bg .row {
  margin-top: -80px;
}

#photo-wrap {
  height: 160px;
  width:  160px;
  border-radius: 100%;
}

#photo-wrap img{
  height: 160px;
  width: 160px;
  border-radius: 100%;
  border: 5px solid #fff;
}

.skills {
  font-size: 3em;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.skills p {
  font-size: 1.5em;
  color: red;
}

.col-md-6 {
  padding: 0;
}

.col-md-4 .col-md-12 {
  border: 1px solid #a6a6a6;
  background-color: #ffffff;
  margin-bottom: 30px;
  border-radius: 10px;
  min-width: 180px;
}

.col-md-4 .col-md-12 div {
  margin-bottom: 10px;
}

.col-md-12 img {
  margin: auto;
  width: 100%;
  border: 1px solid #a6a6a6;
}

p em {
  color: red;
  float: right;
}

.col-md-12 ul {
  padding-left: 20px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#about-me p {
  font-size: 1.25em;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #a6a6a6;
  border-radius: 10px;
}

#about-me h2 {
  font-size: 3em;
  padding-bottom: 10px;
}

span {
  color: red;
}
